.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-list-header {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 800;
  --color: #39434e;
  min-height: 20px;
  display: block;
  text-align: center;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  padding-top: 7px;

  color: var(--ion-color-medium-shade);
}
