ion-icon {
  font-size: 24px;
}

#budgetName {
  font-size: 19px;
}

ion-title {
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
}

ion-buttons {
  color: #ffffff;
}

ion-card {
  margin-top: 30px;
  border: 1px solid rgba(77, 70, 70, 0.45);
}

#refreshButton {
  margin-bottom: 20px;
}

#total {
  margin-top: 30px;
  text-align: center;
}

ion-list-header {
  padding: 0;
  border-top: 1px solid rgba(77, 70, 70, 0.45);
}

ion-list {
  padding: 0;
  // border-bottom: 1px solid rgba(77, 70, 70, 0.45);
}
