<ion-header>
  <ion-toolbar>
    <ion-title>Notes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="custom"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-buttons (click)="addNote()">
        <ion-icon slots="icon-only" name="clipboard"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let note of notesService.notes">
    <ion-list>
      <ion-item
        button
        detail
        [routerLink]="'/notes/' + note.id"
        routerDirection="forward"
      >
        <ion-label>{{ note.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
