<ion-header>
  <ion-toolbar>
    <ion-title>Update budget</ion-title>
    <ion-button color="white" (click)="dismissModal()" slot="end" fill="clear">
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="updateBudgetForm">
    <ng-container *ngFor="let item of budgetItem">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input
          required
          type="text"
          formControlName="budgetName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input
          required
          type="number"
          formControlName="budgetAmount"
          (input)="gotChar($event)"
        ></ion-input>
      </ion-item>

      <!-- Add Button function -->
      <ion-button
        expand="block"
        class="ion-margin-top"
        [disabled]="updateBudgetForm.invalid || !checker"
        (click)="submitUpdateBudget(item)"
      >
        Confirm
      </ion-button>
    </ng-container>
  </form>
</ion-content>
