<ion-app>
  <ion-menu menuId="custom" contentId="main">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header id="listheader">My GroceryPal</ion-list-header>
        <ion-note>Your all-in-one grocery companion</ion-note>
      </ion-list>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/checklist">
            <ion-icon name="list-outline" slot="start"></ion-icon>
            <ion-label>To-do List</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/budgetmanager">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label>Budget Manager</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/notes">
            <ion-icon name="newspaper-outline" slot="start"></ion-icon>
            <ion-label>Notes</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
