<ion-header>
  <ion-toolbar>
    <ion-title>GroceryPal</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="custom"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Explore</h4>
  <ion-card button routerLink="../checklist">
    <ion-card-header>
      <ion-row>
        <ion-col size="3">
          <img src="../assets/check-list.png" alt="checklist">
        </ion-col>
        <ion-col>
          <ion-card-title>To-Do List</ion-card-title>
          <ion-card-subtitle>Create and edit your checklist</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card button routerLink="../budgetmanager">
    <ion-card-header>
      <ion-row>
        <ion-col size="3">
          <img src="../assets/money-bag.png" alt="budget">
        </ion-col>
        <ion-col>
          <ion-card-title>Budget Manager</ion-card-title>
          <ion-card-subtitle>Manage your budget and finances</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card button routerLink="../notes">
    <ion-card-header>
      <ion-row>
        <ion-col size="3">
          <img src="../assets/notes.png" alt="notes">
        </ion-col>
        <ion-col>
          <ion-card-title>Notepad</ion-card-title>
          <ion-card-subtitle>Write what's on your mind</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>
