<ion-header>
  <ion-toolbar>
    <ion-title>Create Expenses</ion-title>
    <ion-button (click)="dismissModal()" slot="end" fill="clear">
      Close
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="expensesForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        required
        type="text"
        formControlName="expensesName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Budget</ion-label>
      <ion-item>
        <!-- Change later -->
        <ion-select
          required
          value="peperoni"
          multiple="true"
          placeholder="Select Pizza"
          formControlName="expensesBudget"
        >
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
          <ion-select-option value="hawaii">Hawaii</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input
        required
        type="number"
        formControlName="expensesAmount"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Note</ion-label>
      <ion-input
        required
        type="text"
        formControlName="expensesNote"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime
        required
        displayFormat="MM DD YY"
        placeholder="Select Date"
        formControlName="expensesDate"
      ></ion-datetime>
    </ion-item>
    <!-- Receipt -->
    <ion-item>
      <ion-label>Receipt</ion-label>
      <ion-button expand="block" shape="round" slot="end"> Upload </ion-button>
    </ion-item>

    <!-- Confirm -->
    <ion-button
      expand="block"
      class="ion-margin-top"
      [disabled]="expensesForm.invalid"
      (click)="submitExpenses()"
    >
      Confirm
    </ion-button>
  </form>
</ion-content>
