ion-textarea {
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

ion-title{
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
}

ion-buttons{
    color: #ffffff;
}