<ion-header>
  <ion-toolbar>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- List -->
  <ng-container *ngFor="let item of items">
    <ion-card>
      <ion-list-header style="border-bottom: 1px solid rgba(77, 70, 70, 0.45)">
        <ion-label style="font-size: 20px"> <b>{{item.name}}</b> </ion-label>
        <ion-button (click)="openUpdateModal(item)">Update</ion-button>
      </ion-list-header>
      <ion-list>
        <ion-item-sliding>
          <ion-item button (click)="showNotes(item)">
            <ion-label>
              <h2 id="notes">Notes</h2>
              <p>{{item.note}}</p>
            </ion-label>
            <ion-note slot="end">
              <ion-text color="success">
                <p style="font-weight: 500; font-size: 18px">
                  &#8369;{{item.amount}}
                </p>
              </ion-text>
              <p>{{item.date | date: 'dd/MM/YYYY'}}</p>
            </ion-note>
          </ion-item>

          <ion-item-options slide="end">
            <ion-item-option color="primary" (click)="openUpdateModal(item)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="delete(item)">
              <ion-icon name="trash-bin-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </ng-container>
  <!--  -->
</ion-content>
